.wall-container {
  column-count: 7; /* Número de columnas */
  column-gap: 1vh; /* Espacio entre columnas */
  width: 100%;
  margin: auto;
}

.wall-img {
  break-inside: avoid; /* Evita que la imagen se divida entre columnas */
  margin-bottom: 1rem;
  overflow: hidden;
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.wall-img img {
  width: 100%;
  display: block;
  border-radius: 8px;
  transition: transform 0.3s;
}

/* Efecto hover */
.wall-img:hover img {
  transform: scale(1.05);
  cursor: pointer;
}

.wall-img:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}
/* Teléfonos pequeños (vertical, < 576px) */
@media (max-width:  768px) {
  /* Ajustes para móviles grandes */
  .wall-container{
    column-count: 3;
  }
  .wall-img:hover img {
    transform: scale(1.5);
    cursor: pointer;
  }
}

/* Tablets verticales (768px – 991px) */
@media (min-width: 769px) and (max-width: 991px) {
  /* Ajustes para móviles grandes */
  .wall-container{
    column-count: 5;;
  }
}

/* Tablets horizontales y laptops pequeñas (992px – 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Ajustes para pantallas medianas */
  .wall-container{
    column-count: 6;
  }
}

/* Laptops grandes y desktop (1200px – 1399px) */
@media (min-width: 1200px) and (max-width: 1399px) {
  /* Ajustes para pantallas grandes */
  .wall-container{
    column-count: 5;
  }
}

/* Monitores grandes (≥ 1400px) */
@media (min-width: 1400px) {
  /* Ajustes para pantallas muy grandes */
}