.gallery-container {
  height: 80vh;
  width: 100%;
  overflow: hidden;
}

.gallery-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  perspective: 200vh;
  transform-style: preserve-3d;
}
.gallery-track {
  display: flex;
  height: auto;
  min-height: 200vh;
  justify-content: center;
  align-items: center;
  cursor: crosshair;
  transform-style: preserve-3d;
  width: 100%;
}

.gallery-item {
  position: absolute;
  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: center;
  padding: 8%;
  backface-visibility: hidden;
}

.gallery-img {
  pointer-events: none;
  height: 50vh;
  width: 35vh;
  border-radius: 15px;
  border: 5px solid #fff;
  object-fit: cover;
  transition: 0.3s ease;
}

.gallery-item:hover .gallery-img {
  transform: scale(1.06);
  transition: 0.3s ease;
  opacity: 0.4;
}

@media (max-width: 768px) {
  .gallery-item {
    padding: 6%;
  }
  .gallery-img {
    height: 100px;
    width: 220px;
  }
}
