.container-home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container-header{
    padding: 1vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.imagen-header{
    width: 50%;
}
.imagen-header img{
    width: 50%;
}
.itemsnavbar-2{
    display: flex;
}
.item-navbar-2{
    display: flex;
}
.item-navbar-2 a{
    text-decoration: none;
}
