.container{
    display: flex;
    width: 100%;
    height: 100%;
}
.container-home{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100vh;
    background-image: url('../assets/Tatto oso.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}
.container-home::before {
    content: '';
    position: absolute;
    inset: 0;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); /* Para Safari */
    z-index: 1;
}
.container-main{
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 90%;
    height: 80vh;
    background-image: url('../assets/Tatto oso.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.negocio-nombre{
    grid-area: 5/1/6/6;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    padding: 3vh 4vh;
    width: 50%;
}
/*text titulo*/
.card {
  font-family: 'Poiret One', sans-serif;
  position: relative;
  width: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 2vh 3vh;
  gap: 1rem;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: 2vh 3vh;
  margin: auto;
  left: -2vh;
  width: 100%;
  height: 4vh;
  border-radius: 10px;
  background: linear-gradient(-45deg, #d78f59 0%, #6a584e 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #d78f59 0%, #6a584e 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.heading {
  font-size: 4rem;
  text-transform: capitalize;
  font-weight: 700;
}

.card p:not(.heading) {
  font-size: 3rem;
}

.card p:last-child {
  color: #ff0000;
  font-weight: 600;
}

.card:hover::after {
  filter: blur(1rem);
}

.card:hover::before {
  transform: scaleX(0.95) scaleY(1.8);
}
/*-----navbar-----*/
.navbar-place{
  grid-area: 1/4/2/6;
  display: flex;
}
.contenedor-navbar{
  display: flex;
  justify-content: center;
}
.itemsnavbar{
  display: flex;
  margin: 1vh 1vh;
}
.itemsnavbar a{
  text-decoration: none;
}
.item-navbar{
  display: flex;
  font-family: "DM Sans", sans-serif;
  padding: 1vh 2vh;
  font-size: 3vh;
  padding: 1vh 4vh;
  margin: 0 2vh;
  color: #fff;
  border-radius: 20px;
  border: 1px solid transparent;
  transition: 0.5s ease;
}
.item-navbar:hover{
  border-bottom: 3px solid #c4aa97;
}

