.container-servicios{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding: 2vh;
}
.titulo-servicios{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 7vh;
    font-family: "DM Sans", sans-serif;
    margin: 1vh;
    border-radius: 10px;
    background-color: #aea7a3;
    color: #000;
    padding: 5vh 0;
}
.servicios-cards{
    padding: 1vh;
    width: 90%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: auto;
}

/*-------Servicio*/
.container-servicio{
    border: 1px solid white;
    padding: 2vh 4vh;
    margin: 1vh;
    border-radius: 20px;
    font-family: "DM Sans", sans-serif;
}
.titulo{
    font-size: 1.2rem;
}
.des-servicio{
    display: flex;
    flex-direction: column;
}
.zonas-servicio{

}
.tiempo-servicio{

}
.paquetes-servicio{

}
.precio{


}
.paquetes-servicio ul li, .seccion-servicio ul li{
    margin-left: 5vh;
}
.seccion-servicio{
    margin: 0 0 2vh 0;
}

/* Teléfonos pequeños (vertical, < 576px) */
@media (max-width:  768px) {
  /* Ajustes para móviles grandes */
    .titulo-servicios{
        font-size: 3vh;
    }
    .servicios-cards{
        grid-template-columns: auto;
        grid-template-rows: repeat(3, 1fr);
}
}

/* Tablets verticales (768px – 991px) */
@media (min-width: 769px) and (max-width: 991px) {
  /* Ajustes para tablets */
    .titulo-servicios{
        font-size: 4vh;
    }
}

/* Tablets horizontales y laptops pequeñas (992px – 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Ajustes para pantallas medianas */
}

/* Laptops grandes y desktop (1200px – 1399px) */
@media (min-width: 1200px) and (max-width: 1399px) {
  /* Ajustes para pantallas grandes */
}

/* Monitores grandes (≥ 1400px) */
@media (min-width: 1400px) {
  /* Ajustes para pantallas muy grandes */
}
